/*
|------------------------------------------
|  IMPORTATS
|------------------------------------------
*/

@import "../main";
//


/*
|------------------------------------------
|  VARIABLES
|------------------------------------------
*/

//



/*
|------------------------------------------
|  NAV
|------------------------------------------
*/

nav {
  //
}



/*
|------------------------------------------
|  GENERAL STYLE
|------------------------------------------
*/

#mainContainer {
  #mainContainer {
  
    .ressourcesContainer {
      overflow: scroll;
      height: 100%;
      padding: 0px 20px;
    }
  
    th {
      border-radius: 0px;
    }
  }
}



/*
|------------------------------------------
|  FORM
|------------------------------------------
*/

form {
  //
}



/*
|------------------------------------------
|  FOOTER
|------------------------------------------
*/

footer {
  //
}
