
/*
|------------------------------------------
|  COLORS
|------------------------------------------
*/

// MAIN \\
$blue: #09203f;
$cyan: #1dedf5;

$green: #4CAF50;
$green-hover: #4CAF50;

$green-dark: #4CAF50;
$green-dark-hover: #4CAF50;

// ALERT \\
$alertErrors: #e57373;
$alertSuccess: #81c784;



/*
|------------------------------------------
|  OTHERS
|------------------------------------------
*/

//
