
/*
|------------------------------------------
|  FONTS
|------------------------------------------
*/

@font-face {
  font-family: Montserrat;
  src: url("../../fonts/Montserrat/Montserrat-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: Montserrat;
  src: url("../../fonts/Montserrat/Montserrat-ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: Montserrat;
  src: url("../../fonts/Montserrat/Montserrat-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Montserrat;
  src: url("../../fonts/Montserrat/Montserrat-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: Montserrat;
  src: url("../../fonts/Montserrat/Montserrat-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Montserrat;
  src: url("../../fonts/Montserrat/Montserrat-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Montserrat;
  src: url("../../fonts/Montserrat/Montserrat-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Montserrat;
  src: url("../../fonts/Montserrat/Montserrat-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: Montserrat;
  src: url("../../fonts/Montserrat/Montserrat-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Montserrat;
  src: url("../../fonts/Montserrat/Montserrat-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: Montserrat;
  src: url("../../fonts/Montserrat/Montserrat-Black.ttf");
  font-weight: 900;
}



/*
|------------------------------------------
|  VARIABLES
|------------------------------------------
*/

@import "variables";

//



/*
|------------------------------------------
|  COLOR CLASS
|------------------------------------------
*/

.text-or-pale {
  color: $or-pale;
}
.back-or-pale {
  background-color: $or-pale;
}
.back-hover-or-pale:hover {
  background-color: $or-pale-hover;
}

.text-or {
  color: $or;
}
.back-or {
  background-color: $or;
}
.back-hover-or:hover {
  background-color: $or-hover;
}

.text-or-dark {
  color: $or-dark;
}
.back-or-dark {
  background-color: $or-dark;
}
.back-hover-or-dark:hover {
  background-color: $or-dark-hover;
}

.back-cyan {
  background-color: $cyan;
}




/*
|------------------------------------------
|  ALERT
|------------------------------------------
*/

#mainAlert {

  .alert-errors {
    background-color: white;
    width: 70%;
    min-width: 700px;
    margin: 30px auto;
    padding: 10px 30px;
    border: 2px solid $alertErrors;
    -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);

    .alert-error {
      color: $alertErrors;
      text-align: center;
    }
  }

  .alert-success {
    background-color: white;
    width: 100%;
    max-width: 500px;
    margin: 30px auto;
    padding: 10px 30px;
    border: 2px solid $alertSuccess;
    -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);

    .info-success {
      color: $alertSuccess;
      text-align: center;
    }
  }
}



/*
|------------------------------------------
|  NAV
|------------------------------------------
*/

nav {
  display: block;
  position: relative;

  i.material-icons {
    height: 64px;
    line-height: 64px;
  }

  .brand-logo {
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 10px;
    font-size: inherit;

    #logo {
      width: 100%;
      height: 100%;
      border-radius: 15%;
    }
  }

  li {
    //

    a {
      font-weight: 300;
    }
  }
}



/*
|------------------------------------------
|  GENERAL STYLE
|------------------------------------------
*/

html, body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  min-height: 100%;
  min-width: 100%;
  overflow-x: hidden;
  background-color: #e0e0e0;
}

#mainContainer {
  height: 100%;
  width: 100%;
}

.input-field label {
  color: $or-dark;
  font-weight: 300;
}

.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label,
.input-field textarea:focus:not([readonly]) + label {
  color: $or-dark;
}

.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus,
.input-field textarea:focus:not([readonly]) {
  border-bottom: 1px solid $or-dark;
  box-shadow: 0;
}

.input-field input[type=text],
.input-field input[type=email],
.input-field input[type=password],
.input-field textarea {
  border-bottom: 1px solid $or-dark;
  box-shadow: 0;
}

.input-field input[type=text].valid,
.input-field input[type=email].valid,
.input-field input[type=password].valid,
.input-field textarea.valid {
  border-bottom: 1px solid $or-dark;
  box-shadow: 0;
}

.input-field input[type=text].invalid,
.input-field input[type=email].invalid,
.input-field input[type=password].invalid,
.input-field textarea.invalid {
  border-bottom: 1px solid $or-dark;
  box-shadow: 0;
}

.input-field .prefix.active {
  color: $or-dark;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid $or-dark;
  -webkit-box-shadow: 0 1px 0 0 $or-dark;
  box-shadow: 0 1px 0 0 $or-dark;
}

input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label{
  color: $or-dark;
}

[type="checkbox"]:checked+span:not(.lever):before {
  border-right: 2px solid $or-dark;
  border-bottom: 2px solid $or-dark;
}




/*
|------------------------------------------
|  FORM
|------------------------------------------
*/
form {

  .help-block {
    font-size: 12px;
    color: #e57373;
  }
}



/*
|------------------------------------------
|  FOOTER
|------------------------------------------
*/
footer {
  //
}
