
/*
|------------------------------------------
|  COLORS
|------------------------------------------
*/

// MAIN \\
$blue: #09203f;
$cyan: #1dedf5;

$or-pale: #e9bb5e;
$or-pale-hover: #e9bd59;

$or: #e9bd59;
$or-hover: #e9bd59;

$or-dark: #e09c36;
$or-dark-hover: #f1a83a;

// ALERT \\
$alertErrors: #e57373;
$alertSuccess: #81c784;



/*
|------------------------------------------
|  OTHERS
|------------------------------------------
*/

//
