
/*
|------------------------------------------
|  IMPORTS
|------------------------------------------
*/

@import "../main";
//


/*
|------------------------------------------
|  VARIABLES
|------------------------------------------
*/

//



/*
|------------------------------------------
|  NAV
|------------------------------------------
*/

nav {
  //
}



/*
|------------------------------------------
|  GENERAL STYLE
|------------------------------------------
*/

#loginCard {
  margin-top: calc(50vh - 330px);
  margin-bottom: 20px;
}

.checkbox-container {
  margin-left: 10px;
}

#title {
  margin-bottom: 0;
}

#logo {
  width: 140px;
  height: 140px;
  margin: 40px auto 20px auto;
}



/*
|------------------------------------------
|  FORM
|------------------------------------------
*/

.form {
  //
}



/*
|------------------------------------------
|  FOOTER
|------------------------------------------
*/

footer {
  //
}

