/*
|------------------------------------------
|  IMPORTATS
|------------------------------------------
*/

@import "../main";
//


/*
|------------------------------------------
|  VARIABLES
|------------------------------------------
*/

//



/*
|------------------------------------------
|  NAV
|------------------------------------------
*/

nav {
  //
}



/*
|------------------------------------------
|  GENERAL STYLE
|------------------------------------------
*/

#mainContainer {
  
  #pageContentContainer > .row {
    width: 100%;

    th {
      border-radius: 0px;
    }
  }

  .advanced-settings:hover {
    cursor: pointer;
  }

  .advanced-settings {
    margin-top: 250px;
  }
}



/*
|------------------------------------------
|  FORM
|------------------------------------------
*/

form {
  //
}



/*
|------------------------------------------
|  FOOTER
|------------------------------------------
*/

footer {
  //
}
