/*
|------------------------------------------
|  IMPORTATS
|------------------------------------------
*/

@import "../main";
//


/*
|------------------------------------------
|  VARIABLES
|------------------------------------------
*/

//



/*
|------------------------------------------
|  NAV
|------------------------------------------
*/

nav {
  //
}



/*
|------------------------------------------
|  GENERAL STYLE
|------------------------------------------
*/

#mainContainer {
  .answerContainer {
    overflow-y: scroll;
    height: 100%;
    padding: 0px 20px;
  }
}



/*
|------------------------------------------
|  FORM
|------------------------------------------
*/

form {
  //
}



/*
|------------------------------------------
|  FOOTER
|------------------------------------------
*/

footer {
  //
}
